body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /* display: none; */
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.line-total {
  fill: none;
  stroke: navy;
  stroke-width: 1.5px;
}

.line-first-dose {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line-second-dose {
  fill: none;
  stroke: lightsteelblue;
  stroke-width: 1.5px;
}

.line-pfizer-biontech {
  fill: none;
  stroke: lightgreen;
  stroke-width: 1.5px;
}

.line-moderna {
  fill: none;
  stroke: lightcoral;
  stroke-width: 1.5px;
}

.line-astrazeneca {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}

#graph_daily_avg .line {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.area {
  fill: lightsteelblue;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

#datatable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

#datatable td, #datatable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#datatable tr:nth-child(even){background-color: #f2f2f2;}

#datatable tr:hover {background-color: #ddd;}

#datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #301934;
  color: white;
}