/* https://www.schemecolor.com/ -> great website for gradients */

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /* display: none; */
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.line-total {
  fill: none;
  stroke: #1E3F66;
  stroke-width: 2px;
}

.line-first-dose {
  fill: none;
  stroke: #73A5C6;
  stroke-width: 1.75px;
}

.line-second-dose {
  fill: none;
  stroke: #BCD2E8;
  stroke-width: 1.75px;
}

.line-pfizer-biontech {
  fill: none;
  stroke: #A9DDB1;
  stroke-width: 1.5px;
}

.line-moderna {
  fill: none;
  stroke: #FEDD9E;
  stroke-width: 1.5px;
}

.line-astrazeneca {
  fill: none;
  stroke: #D9C4EC;
  stroke-width: 1.5px;
}

#graph_daily_avg .line {
  fill: none;
  stroke: #2E5984;
  stroke-width: 1.5px;
}

.area {
  fill: #BCD2E8;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.tooltip {
  fill: lightgray;
}

.tooltip-date, .tooltip-likes {
  font-weight: bold;
}

#datatable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  overflow-y: auto;
  height: 100px;
  /* width: 100%; */
}

#datatable thead th { 
  position: sticky;
  top: 0;
}

/* table borders */
#datatable td, #datatable th {
  border: 1px solid #CECCE4;
  padding: 8px;
}

/* even cells */
#datatable tr:nth-child(even){background-color:#FEE1E6;} 

/* odd cells */
#datatable tr:nth-child(odd){background-color:#FFF0F3;} 

/* hover cells */
#datatable tr:hover {background-color: #FFD6DE;}

/* header */
#datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #CECCE4;
  color: black;
}
